In [5]:
import pandas as pd
import numpy as np

Pandas library:

Useful for Data Processing 

- Dataframe: 2-dimensional labeled data structure with columns of potentially different types
- Series: 1-dimensional labeled array capable of holding any data type (including other Series, DataFrame

In [16]:
# importing the boston house price data

from sklearn.datasets import fetch_california_housing

housing = fetch_california_housing()

# convert the dataset into a pandas DataFrame


housing_data = pd.DataFrame(data= np.c_[housing['data'], housing['target']],
                     columns=np.append(housing['feature_names'], ['target']))

print(housing_data.head())

   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude  target
0    -122.23   4.526
1    -122.22   3.585
2    -122.24   3.521
3    -122.25   3.413
4    -122.25   3.422

In [17]:
# Shape of the data set
print(housing_data.shape)

(20640, 9)

In [21]:
# importing the data from csv in pandas dataframe 

diabetes_df = pd.read_csv('Data/diabetes.csv')
diabetes_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [22]:
# Let's check the dtype of the data frame

print(diabetes_df.dtypes)

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [24]:
# Now Creating the Data frame for the random data using pandas internal functions
random_df = pd.DataFrame(np.random.rand(20,10))
print(random_df.head())

          0         1         2         3         4         5         6  \
0  0.080217  0.220577  0.797128  0.234205  0.136961  0.738985  0.481288
1  0.994163  0.034560  0.665869  0.645921  0.790183  0.151273  0.867288
2  0.976053  0.871237  0.028689  0.349775  0.945871  0.797766  0.093620
3  0.445966  0.996160  0.731191  0.134782  0.584346  0.335759  0.888579
4  0.974004  0.803714  0.334320  0.035022  0.469401  0.301406  0.251359

          7         8         9
0  0.209508  0.124802  0.470085
1  0.741382  0.944003  0.675881
2  0.191110  0.456544  0.796091
3  0.313948  0.421741  0.308243
4  0.349545  0.537106  0.194711

In [25]:
# Let's Check the shape of the data frame

print(random_df.shape)

(20, 10)

In [28]:
# Inspecting the Data Frame
# Finding the Number of Rows and Number of Cols in data frame
print(diabetes_df.shape) 
# Finding the summary of the data frame

print(diabetes_df.describe())  # This will give you a summary of the data frame

# Finding the data types of each column in the data frame
print(diabetes_df.dtypes)  # This will give you the data types of each column in the data frame

(768, 9)
       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count   768.000000  768.000000     768.000000     768.000000  768.000000
mean      3.845052  120.894531      69.105469      20.536458   79.799479
std       3.369578   31.972618      19.355807      15.952218  115.244002
min       0.000000    0.000000       0.000000       0.000000    0.000000
25%       1.000000   99.000000      62.000000       0.000000    0.000000
50%       3.000000  117.000000      72.000000      23.000000   30.500000
75%       6.000000  140.250000      80.000000      32.000000  127.250000
max      17.000000  199.000000     122.000000      99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age     Outcome
count  768.000000                768.000000  768.000000  768.000000
mean    31.992578                  0.471876   33.240885    0.348958
std      7.884160                  0.331329   11.760232    0.476951
min      0.000000                  0.078000   21.000000    0.000000
25%     27.300000                  0.243750   24.000000    0.000000
50%     32.000000                  0.372500   29.000000    0.000000
75%     36.600000                  0.626250   41.000000    1.000000
max     67.100000                  2.420000   81.000000    1.000000
Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [30]:
# Let's find out the missing values
missing_values = diabetes_df.isnull().sum()
print(missing_values)

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [34]:
# counting the values based in the labels

value_counts = diabetes_df.value_counts('Outcome')
print(value_counts)

Outcome
0    500
1    268
Name: count, dtype: int64

In [35]:
# Group the values based on their mean
grouped_values = diabetes_df.groupby('Outcome').mean()
grouped_values

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [36]:
# Statical measures on the housing data set

housing_data.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

In [37]:
# Counting the value
housing_data.count()

MedInc        20640
HouseAge      20640
AveRooms      20640
AveBedrms     20640
Population    20640
AveOccup      20640
Latitude      20640
Longitude     20640
target        20640
dtype: int64

In [38]:
# Mean value column wise
housing_data.mean()

MedInc           3.870671
HouseAge        28.639486
AveRooms         5.429000
AveBedrms        1.096675
Population    1425.476744
AveOccup         3.070655
Latitude        35.631861
Longitude     -119.569704
target           2.068558
dtype: float64

In [39]:
#Standard Deviation  - column wise
housing_data.std()

MedInc           1.899822
HouseAge        12.585558
AveRooms         2.474173
AveBedrms        0.473911
Population    1132.462122
AveOccup        10.386050
Latitude         2.135952
Longitude        2.003532
target           1.153956
dtype: float64

In [40]:
# minimum value in each of the col
housing_data.min()

MedInc          0.499900
HouseAge        1.000000
AveRooms        0.846154
AveBedrms       0.333333
Population      3.000000
AveOccup        0.692308
Latitude       32.540000
Longitude    -124.350000
target          0.149990
dtype: float64

In [41]:
# max value in each of the col
housing_data.max()

MedInc           15.000100
HouseAge         52.000000
AveRooms        141.909091
AveBedrms        34.066667
Population    35682.000000
AveOccup       1243.333333
Latitude         41.950000
Longitude      -114.310000
target            5.000010
dtype: float64

In [43]:
housing_data['Price'] = housing_data.target

housing_data

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422,3.422
...,...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894,0.894

In [46]:
# Now Let's Drop the target col
housing_data.drop('target', axis=1, inplace=True)

KeyError: "['target'] not found in axis"

In [47]:
housing_data

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [48]:
# locating the row using the index value
housing_data.iloc[2]

MedInc          7.257400
HouseAge       52.000000
AveRooms        8.288136
AveBedrms       1.073446
Population    496.000000
AveOccup        2.802260
Latitude       37.850000
Longitude    -122.240000
Price           3.521000
Name: 2, dtype: float64

In [49]:
# Locating the particular col
print(housing_data.iloc[:,0]) #first col
print(housing_data.iloc[:,1]) #second col

# Locating a particular row and col
print(housing_data.iloc[0,0]) #first row, first col

# Locating multiple rows and cols
print(housing_data.iloc[[0,1,2], [0,1]]) #first,

0        8.3252
1        8.3014
2        7.2574
3        5.6431
4        3.8462
          ...
20635    1.5603
20636    2.5568
20637    1.7000
20638    1.8672
20639    2.3886
Name: MedInc, Length: 20640, dtype: float64
0        41.0
1        21.0
2        52.0
3        52.0
4        52.0
         ...
20635    25.0
20636    18.0
20637    17.0
20638    18.0
20639    16.0
Name: HouseAge, Length: 20640, dtype: float64
8.3252
   MedInc  HouseAge
0  8.3252      41.0
1  8.3014      21.0
2  7.2574      52.0

 Correlation two types
 Positive and Negative Correlation
 Positive Correlation: When the value of one variable increases, the value of the other variable also increases. For example, the price of a house and the area of the house.
 Negative Correlation: When the value of one variable increases, the value of the other variable decreases
 No Correlation: When there is no relationship between the two variables
 Correlation Coefficient: It is a statistical measure that calculates the strength of the relationship between two
 variables. The value of the correlation coefficient ranges from -1 to 1. If the value
 is close to 1, it indicates a strong positive correlation. If the value is close to
 -1, it indicates a strong negative correlation. If the value is close to 0,
 it indicates no correlation.